/* The side navigation menu */

.sidenav {
    margin-top: 7rem;
    height: 84%;
    /* 100% Full-height */
    width: 50px;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    background-color: #fff;
    /* Black*/
    overflow-y: hidden;
    /* Disable horizontal scroll */
    padding-top: 10px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border-radius: 20px 0 0 20px;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.sidenav {
    right: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav {
    right: 0;
}