#header {
    position: absolute;
    width: 220px;
}

#header .pro-sidebar {
    height: 92.5vh;
}

#header .pro-sidebar {
    width: 100%;
    min-width: 100%;
}

#header .pro-sidebar.collapsed {
    width: 70px;
    min-width: 70px;
    align-items: center;
}

#header .pro-sidebar-inner {
    background-color: var(--bg-color);
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}

#header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding-right: 5px;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    margin: 40px 0;
    font-weight: bold;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: transparent;
    border-radius: 3px;
}

#header .pro-sidebar-inner .pro-sidebar-layout .active {
    color: rgb(108, 95, 196)
}

@media only screen and (max-width: 720px) {
    html {
        overflow: hidden;
    }
}